site_name: Pentester Note

copyright: NagisaYumaa from the UnderWorld Godness 
 (∩｀-´)⊃━☆ﾟ.*･｡
 (∩｀-´)⊃━☆ﾟ.*･｡ 
 (∩｀-´)⊃━☆ﾟ.*･｡

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
    - icon: fontawesome/brands/x-twitter
    - icon: fontawesome/brands/facebook
    - icon: fontawesome/brands/linkedin
    

theme: 
 name: material 
 custom_dir: overrides


 logo: ../../assets/images/1.jpg
 favicon: ../../assets/images/1.ico

 language: vi

 palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: green
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: green
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

 features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer

    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy

    - toc.integrate 
    - toc.follow

plugins:
  - search

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.tilde
  - admonition
  - pymdownx.details
  - pymdownx.superfences
 
